<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Pizzaria</title>
</head>

<body>
    <h2>🍕 Login Pizzaria</h2>
    <form method="POST" action="/login">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="senha" placeholder="Senha" required>
        <button type="submit">Entrar</button>
    </form>
    <% if (erro) { %>
        <p style="color:red">
            <%= erro %>
        </p>
    <% } %>
</body>